/* .home-carousel {
  height: 700px; 
  width: 100%; 
}

.home-carousel .carousel .slide {
  height: 100%; 
}

.home-carousel .carousel .slide img {
  height: 700px; 
  object-fit: cover;  */

  /* homeCarousel.css */
.home-carousel {
  /* Ensure the carousel takes full width and height as needed */
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.home-carousel img {
  /* Ensure images fit properly */
  width: 100%;
  height: 700px;
  object-fit: cover;
}
