/* #region phone-nav */
.phone-nav{
    display: none;

}
.phone-nav .container{
    padding: 5px 0;
    width: 70%;
    background-color: rgb(255, 221, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:15px;
    left: 15%;
    z-index: 11;
}
.phone-nav .container span{
    margin: 0 10px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}
.phone-nav .user-icon{
    color:white;
    text-align: center;
    line-height: 25px;  
    margin: 0 10px;
    margin-left: 17px;
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(215, 172, 250),#ee97d2
    ,rgb(229, 105, 208)
    );
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.phone-nav .container .icon-cart-empty{
    position: relative;}
.phone-nav .container .icon-cart-empty .cart-quantity{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: -20px;
    height: 10px;
    width: 10px;
    text-align: center;
    line-height: 10px;
    background-color: #000;
    font-weight: bolder;
    color:#dfc543;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
}
.phone-nav .container span:hover{
    background-color: #dfc543;
    border-radius: 50%;
}
/* #endregion phone-nav */

/*#region popup-menu */
.phone-nav .popup-nav{
    position: fixed;
    top:0px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: white;
    /* padding: 20px 0; */
    /* overflow: hidden; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
}

.phone-nav .popup-nav ul li .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 10px;
    font-size: 27px;
    cursor: pointer;
    color:#707070;
}
.phone-nav .popup-nav ul li .category:hover{
    color: #000000;
}


.phone-nav .popup-nav .items{
    /* padding: 5px 30px; */
}
.phone-nav .men-items,
.phone-nav .women-items{
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    padding-left: 30px;
}
.phone-nav .popup-nav .items li{
    padding-bottom: 15px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
    color: #707070;
    font-size: 20px;
}
.phone-nav .popup-nav .items li:hover {
    font-size: 22px;
    color: #000;
}
/*#endregion popup-menu */

/* #region popup-cart */
.phone-nav .popup-cart{
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    /* display: none; */
}
.popup-cart .phone-cart-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    transition-duration: .5s;
    transition-property: all;
    padding:0px 5px;
    height: 100vh;
    position: relative;
}
.popup-cart .empty-cart-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    height: 90%;
    color: #707070;
}
.popup-cart .empty-cart-message .icon-cart-empty{
    font-size: 40px;
    padding-bottom: 10px;
}
.popup-cart .phone-cart-container .cart-items{
    height: auto;
    max-height: 70%;
    overflow-y: auto;
}
.popup-cart .cart-items .cart-title{
    font-size: 25px;
    margin: 10px 10px;
    padding-bottom: 10px;
    color: #000;
    border-bottom: #707070 1px solid;
}
.popup-cart .cart-items .empty-cart
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    font-size: 20px;
    color: #707070;
}
.popup-cart .cart-items .empty-cart div:first-child{
    font-size: 35px;
    margin-bottom: 10px;
}

.popup-cart .cart-items  ul li{
    display: flex;
    padding: 10px 10px;
    border-bottom: #d4d4d4 1px solid;
}
.popup-cart .cart-items  ul li .image{
    width: 35%;
}
.popup-cart  .cart-items ul li .image img{
    width: 100%;
}
.popup-cart .cart-items ul li .product-info{
    margin-left: 10px;
    width: 75%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.popup-cart .cart-items .quantityReminder{
    font-size: 14px;
    color: #7d3636;
    margin-left: 3px;
}
.popup-cart  .cart-items  .name-price,
.popup-cart  .cart-items .quantity-del,
.popup-cart  .cart-items .category-discount-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-cart  .cart-items .discount-price{
    color: rgb(164, 32, 32);
    font-size: 18px;
}
.popup-cart .cart-items .abandoned-price{
    text-decoration: line-through;
    color: #707070;
    /* font-size: 20px; */
}

.popup-cart  .cart-items .quantity-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-cart .cart-items .icon-minus,
.popup-cart  .cart-items .icon-add{
    cursor: pointer;
    border: 1px solid #707070;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px
}
.popup-cart  .cart-items .icon-minus:hover,
.popup-cart  .cart-items .icon-add:hover{
    background-color: #707070;
    color: white;
}
.popup-cart  .cart-items .icon-del{
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px
}
.popup-cart  .cart-items .icon-del:hover{
    border: 1px solid #707070;
    background-color: #707070;
    color: white;
}
.popup-cart  .phone-cart-container .cart-check-out{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    position: absolute;
    bottom: 90px;
    right: 10px;
}
.popup-cart  .phone-cart-container .cart-check-out>div{
    width: 50%;
}
.popup-cart .phone-cart-container .cart-check-out .total{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-cart .phone-cart-container .cart-check-out .check-out{
    margin-top: 20px;
    background-color: #000;
    color: white;
    padding: 10px 0;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
.popup-cart .phone-cart-container .cart-check-out .check-out:hover{
    opacity: 0.8;
}
/* #endregion popup-cart */
