@font-face {
  font-family: "iconfont"; /* Project id 4622830 */
  src: url('iconfont.woff2?t=1725873819377') format('woff2'),
       url('iconfont.woff?t=1725873819377') format('woff'),
       url('iconfont.ttf?t=1725873819377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-return_line:before {
  content: "\e650";
}

.icon-to-top:before {
  content: "\e60f";
}

.icon-upper:before {
  content: "\e6a7";
}

.icon-filter:before {
  content: "\e8c8";
}

.icon-done-01:before {
  content: "\e6fa";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-log-out:before {
  content: "\e7b6";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-arrow_d:before {
  content: "\e609";
}

.icon-arrow_r:before {
  content: "\e60c";
}

.icon-del:before {
  content: "\e608";
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-add:before {
  content: "\e664";
}

.icon-more_:before {
  content: "\e681";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-next:before {
  content: "\e61a";
}

.icon-home:before {
  content: "\e674";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-cart-empty:before {
  content: "\e826";
}

