/* #region profile */
.profile .container{
    width: 50%;
    min-height: 900px;
}
.profile .user-basic
{
    margin: 0 auto;
    width: 100%;
    height: 190px;
    background-image: linear-gradient(to right, rgb(215, 172, 250),#ee97d2
    ,rgb(248, 219, 59)
    );
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 30px;
    position: relative;
}
.profile .log-out {
  height: 100%;
  width: 0%;
  position: absolute;
  background-color: rgb(251, 221, 221);
  top: 0;
  right: 0;
  border-radius: 30px;
  /* opacity: 0.5; */
  transition: all 0.5s ease; /* Smooth transition */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0px;
  opacity: 0;
}
.profile .log-out.active {
  width: 100%;
  font-size: 18px;
  opacity: 1;
}
.profile .log-out .question {
  /* font-size: 25px; */
  margin-bottom: 0px;
}
.profile .log-out .answer-btn {
  display: flex;
  gap: 100px;
}

.profile .logout-btn{
    position: absolute;
    right: 22px;
    top: 25px;
    color: white;
    /* font-size: 22px; */
    cursor: pointer;
    background-color: #9ccaf1;
    padding: 9px 9px;
    border-radius: 50px;
}
.profile .logout-btn:hover{
    color: #3f79c1;
    font-weight: bolder;
}
.profile .log-out .answer-btn div{
  cursor: pointer;
  background-color: #ffffff;
  width: 50px;
  height: 30px;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .log-out .answer-btn div:hover{
  background-color: #c3c3c3;
}
.profile .user-basic .greeting{
  display: flex;
  align-items: center;
}
.profile .user-basic .greeting .user-icon{
    font-size: 19px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 248, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.profile .user-basic .greeting .hi div:first-child{
    font-size: 21px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}
.profile .user-basic .greeting .hi div:last-child{
    font-size: 16px;
    color: white;
}
.profile .reg-date{
    color: white;
    font-size: 18px;
}
.profile .myaccount{
    padding: 10px 10px;}
.profile .myaccount .account-title{
    font-size: 20px;
    margin: 20px 0;
}
.profile .myaccount>.myaccount-nav>li{
    padding: 10px 10px;
    /* font-size: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.profile .myaccount>.myaccount-nav>li:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: #b4b4b4 0 0 1px 0;
    color: #000;
}
.profile .myaccount>.myaccount-nav .profile-order{
  font-size: 18px;
}
.profile-personal-info .profileWord{
  font-size: 18px;
}

/* order-history */
.profile .order-history{
    background-color: rgb(219, 219, 219);
    /* padding: 10px 10px; */
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    font-size: 15px;
}
.profile .empty-order-history {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    flex-direction: column;
    color: #707070;
}
.profile .order-history .order-num{
    font-size: 17px;
    font-weight: 600;
}
.profile .empty-order-history div:first-child {
    margin-bottom: 5px;
    font-size: 20px;
}
.profile .order-history>ul>li{
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.profile .order-history .order>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.profile .order-history .order ul li{
    margin: 15px 0;
  font-size: 15px;
  padding: 0 10px;
  border-bottom: 1px solid #e8e8e8;
}
.profile .order-history .order ul li:last-child{
    border-bottom: none;
}
.profile .order-history .order ul li>div{
  margin: 10px 0;
}
.profile .order-history .order-num,
.profile .order-history .item-size,
.profile .order-history .quantity-price{
    display: flex;
    justify-content: space-between;
}
.profile .order-history .quantity-price .price{
  display: flex;
  align-items: center;
}
.profile .order-history .quantity-price .price .discount-price{
  color: rgb(164, 32, 32);
  font-size: 16px;
  margin-right: 10px;
}
.profile .order-history .quantity-price .price .abandoned-price{
  text-decoration: line-through;
  color: #707070;
  font-size: 15px;
}

.profile .order-history li .order-item-total{
    border-top: 1px solid #707070;
    margin-top: 10px;
    padding-top:10px;
    text-align: end;
    display: flex;
}
.profile .order-history .order-status .unpaid{
  font-weight: 600;
  color: rgb(145, 0, 0);
}
.profile .order-history .order-status .processing{
  font-weight: 600;
  color: rgb(45, 90, 201);
}
.profile .order-history .order-status .shipped{
  font-weight: 600;
  color: rgb(45, 90, 201);
}
.profile .order-history .order-status .finished{
  font-weight: 600;
  color: rgb(0, 145, 0);
}


/* person-info */
.profile .personal-info{
    /* padding: 20px 20px; */
    background-color: white;
    box-sizing: border-box;
    font-size: 16px;
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    margin-bottom: 30px;
}
.profile .personal-info .info-content li{
    margin: 5px 0;}
.profile .personal-info .info-content li>div{
    margin: 5px 0;
    width: 50%;
}
.profile .personal-info .info-content li div:first-child{
    font-weight: 600;
}
.profile .personal-info .name,
.profile .personal-info .birth-gender,
.profile .personal-info .country-city,
.profile .personal-info .state-zip{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.profile .personal-info .name div div:first-child,
.profile .personal-info .birth-gender div div:first-child,
.profile .personal-info .country-city div div:first-child,
.profile .personal-info .state-zip div div:first-child,
.profile .personal-info .phone,
.profile .personal-info  .address,
.profile .personal-info  .email div:first-child{
  margin-bottom: 15px;
}

.profile .personal-info .edit{
    font-size: 16px;
    color: #707070;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    border-top: #b3b3b3 1px solid;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.profile .personal-info .edit:hover{
    color: #000;

}
.profile .personal-info .edit div:first-child{
    margin-right: 10px;
}
.profile .personal-info .edit .icon-edit{
    font-size: 19px;
    margin-right: 10px;
}
/* person-form */
.profile .personal-info form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-top: 0px;
  }

  .profile .personal-info ul {
    list-style: none;
    padding: 0;
  }

  .profile .personal-info ul li {
    padding: 10px 0;
  }
  .profile .personal-info ul li:first-child {
    padding: 0;
  }

  .profile .personal-info label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    /* font-weight: bold; */
  }

  .profile .personal-info input[type="text"],
  .profile .personal-info input[type="email"],
  .profile .personal-info input[type="tel"],
  .profile .personal-info input[type="date"],
  .profile .personal-info select {
    width: 100%;
    padding: 10px 15px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px; /* Increased font size */

  }

  .profile .personal-info .name, 
  .profile .personal-info .birth-gender, 
  .profile .personal-info .state-zip, 
  .profile .personal-info .country-city {
    display: flex;
    gap: 5px;
  }

  .profile .personal-info .name > div, 
  .profile .personal-info .state-zip > div,
  .profile .personal-info .birth-gender > div, 
  .profile .personal-info .country-city > div {
    flex: 1;
  }

  .profile .personal-info .name > div input, 
  .profile .personal-info .birth-gender > div input, 
  .profile .personal-info .state-zip > div input, 
  .profile .personal-info .country-city > div input, 
  .profile .personal-info .birth-gender > div select {
    width: calc(100% - 30px); /* Adjusted to account for increased padding */
    margin-left: 10px;
  }
  .profile .personal-info .phone input,
  .profile .personal-info .address input,
  .profile .personal-info .email input{
    width: calc(100% - 30px); /* Adjusted to account for increased padding */
    margin-left: 10px;
  }

  .profile .personal-info .button-container {
    display: flex;
    gap: 35px;
    justify-content: center;
  }

  .profile .personal-info button {
    display: block;
    width:40%;
    padding:13px 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Increased font size */
    cursor: pointer;
    border-radius: 50px;
    margin-top: 10px;
  }

  .profile .personal-info button:hover {
    opacity: 0.8;
  }

  .profile .personal-info .cancel-change-button {
    background-color: #ffffff;
    color: black;
    border: 1px solid #000000;
  }

  .profile .personal-info .cancel-change-button:hover {
    background-color: #c3c3c3;
  }
  /* .edit-form .state-zip{
    display: flex;
    gap: 5px;
  }
  .edit-form .state-zip input{
    width: 50%;
  } */
/* #endregion profile */

