.carousel-image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* This ensures a square container based on width */
    background-color: white; /* White background */
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 100%;
    object-fit: contain; /* This will keep the image's aspect ratio */
  }
  